<h2>Login</h2>
<%= form_for :user do |f| %>
  <%= f.label :email %>:
  <%= f.text_field :email %><br />

  <%= f.label :password %>:
  <%= f.text_field :password %><br />

  <%= f.submit 'Login' %>
<% end %>
