<br><h4 class='container'>register an account</h4><br>


<div class='container s12'>
  <%= form_for :user, url: '/users' do |f| %>
    <div class='input-field'>
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %><br>
    </div>

    <div class='input-field'>
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %><br>
    </div>

    <div class='input-field'>
      <%= f.label :email %><br>
      <%= f.text_field :email %><br>
    </div>

    <div class='input-field'>
      <%= f.label :phone %><br>
      <%= f.text_field :phone %><br>
    </div>

    <div class='input-field'>
      <%= f.label :password %><br>
      <%= f.text_field :password, type: :password %><br>
    </div>

    <div class='input-field'>
      <%= f.label :password_confirmation %><br>
      <%= f.text_field :password_confirmation, type: :password %><br>
    </div>

    <div class='btn-flat'>
      <%= f.submit 'register' %>
    </div>
  <% end %>
</div>
