<div class='container'>
  <div class='row>'>
    <div class='card horizontal purple'>
      <div class='card-image'>
        <img class='responsive-img' src='<%= @user.avatar.url %>'> 
        <div class='card-title'>
          <p><%= @user.first_name %> <%= @user.last_name %></p>
        </div>
      </div>
      <div class='card-content black-text'>
        <p><%= @user.email %></p><br>
        <p><%= @user.phone %></p><br>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <% if current_user == @user %>
    <p class='btn-large center'> <%= link_to "Map", root_path %> </p>
    <p class='btn-large center'> <%= link_to "Friends", user_friends_path(@user) %> </p>
    <p class='btn-large waves-effect waves-light'> <%= link_to "Favorite Locations" %> </p>

  <% elsif current_user.friends_with? @user  %>
    <h3> form to invite to lunch </h3>

      <%= form_for :invite, url: "/users/#{@user.id}/message" do |f| %>
        <%= f.label :message, "Message" %>:
        <%= f.text_field :message %>
        <%= f.submit "Send Invite" %>
      <% end %>





    <%= form_for @user, url: "/users/#{@user.id}", method: 'delete' do |f| %>
      <%= f.submit "unfriend" %>
    <% end %>

  <% else %>
    <h3> "Add as friend" </h3>
    <%= form_for @user, url: "/users/#{@user.id}" do |f| %>
      <%= f.submit "Add Friend" %>
    <% end %>

  <% end %>

</div>
