<br>
<div class='container'>
  <div class='row>'>
    <div class='card horizontal red darken-4 valign-wrapper'>
      <div class='card-image valign'>
        <img id='profile-picture' class='responsive-img' src='<%= @user.avatar.url(:medium) %>'>
      </div>
      <div class='card-content white-text'>
        <h5><%= @user.first_name %> <%= @user.last_name %></h5><br>
        <p><%= @user.email %></p><br>
        <p><%= @user.phone %></p><br>
        <% if current_user == @user %>
          <div class='center'>
            <div class='waves-effect waves-light btn blue-grey darken-1'>
              <%= button_to "Edit Account", edit_user_path, :method=> "get" %>
            </div>
          </div>
        <% elsif current_user.friends_with? @user %>
          <%= form_for @user, url: "/users/#{@user.id}", method: 'delete' do |f| %>
            <div class='right'>
              <div class='waves-effect waves-light btn blue-grey darken-1'>
                <%= f.submit "Remove" %>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= form_for :user, url: "/users/#{@user.id}" do |f| %>
            <div class='center'>
              <div class='waves-effect waves-light btn blue-grey darken-1'>
                <%= f.submit "Add" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>


<div class="container">

  <% if current_user == @user %>
    <!-- <div class='center'>
      <div class='waves-effect waves-light btn btn-block btn-large blue-grey darken-1 center-buttons'>
        <i class="material-icons left">directions</i>
        <%= link_to "Map", root_path %>
      </div>
    </div><br> -->
    <div class='center'>
      <div class='waves-effect waves-light btn btn-block btn-large blue-grey darken-1 center-buttons'>
        <i class="material-icons left">account_circle</i>
        <%= button_to "Contacts", user_friends_path(@user) %>
      </div>
    </div><br>
    <div class='center'>
      <div class='waves-effect waves-light btn btn-block btn-large blue-grey darken-1 center-buttons'>
        <i class="material-icons left">place</i>
        <%= button_to "Favorites", user_favorites_path(@user) %>
      </div>
    </div><br>

  <% elsif current_user.friends_with? @user  %>

    <h4 class='container center-align'>Invite</h4><br>
    <div class='container'>

      <%= form_for :invite, url: "/users/#{@user.id}/message", :html => {:id => 'contact-location-request'} do |f| %>
      <div class='input-field'>
        <%= f.label :message, "message" %>
        <%= f.text_field :message %>
      </div>
      <div class='center'>
        <button class='waves-effect waves-light btn blue-grey darken-1' type="submit" name="action">send invite
          <i class="material-icons right">keyboard_arrow_right</i>
        </button>
      </div>
      <% end %>
    </div>

  <% end %>

</div>
