<h1><%= @user.first_name %> <%= @user.last_name %>'s Profile Page</h1>

<h2> profile pic </h2>

<div>

<h3> <%= link_to "Map", root_path %> </h3>
<h3> <%= link_to "Friends", user_friends_path(@user) %> </h3>
<h3> <%= link_to "Favorite Locations" %> </h3>

</div>
