<h1><%= @user.first_name %> <%= @user.last_name %>'s Profile Page</h1>

<h2> profile pic </h2>

<div>
<% if current_user == @user %>
<h3> <%= link_to "Map", root_path %> </h3>
<h3> <%= link_to "Friends", user_friends_path(@user) %> </h3>
<h3> <%= link_to "Favorite Locations" %> </h3>
<% elsif current_user.friends.include?(@user)  %>

<h3> form to invite to lunch </h3>

<% else %>
<h3> Add as friend </h3>

<% end %>
</div>
