<!DOCTYPE html>
<html>
  <head>
    <title>StrEAT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='blue darken-1 white-text' data-no-turbolink='true'>
    <%= render '/nav' %>
    <%= yield %>
  </body>
</html>
